/* but this is not only for images,webpage main function is provide the
filters 
*/
.meal{
    width: 30rem;
}
.meal:hover{
    width: 30rem;
    /* filter: grayscale(70%) blur(3px); */
    filter: drop-shadow(16px 16px 20px red) invert(75%);

}

/*Works Woonderful 
You can also find more filter by using website and that is 
CSS FILTER FUNCTION
*/